logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
frontend/.env
*.pytest-cache/.*
.pytest_cache/
frontend/.pytest_cache/
frontend/pytest-cache-files*/
__pycache__/
*.py[cod]
.*py[cod]
frontend/vite-dev.err
analyses.json
seed_ground_truth_v2_prev.json
